:root {
    --primary-color: #1F2937;
    --secondary-color: #3882F6;
    --white: #F9FAF8;
    --light-gray: #E5E7EB;
    --gray: #6d747d;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

* {
    margin: 0;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

a {
    text-decoration: none;
}



/* HEADER */
.header {
    background-color: var(--primary-color);
    width: 100%;
    padding: 10px 0 100px 0;
}

.header-container {
    max-width: 1200px;
    margin: 0 auto;
}

.text {
    color: var(--light-gray);
    font-size: 18px;
}

/* Nav */
.nav-bar {
    display: flex;
    justify-content: space-between;
}

.links {
    display: flex;
    gap: 20px;
}

.logo {
    color: var(--white);
    font-size: 24px;
}

.link {
    color: var(--light-gray);
    font-size: 18px;
}

/* Header Content */

.header-content {
    display: flex;
    justify-content: flex-start;
    margin-top: 100px;
    text-align: left;
}

.header-text {
    max-width: 50%;

}

.header-heading {
    color: var(--white);
    font-size: 48px;
    font-weight: 900;
    width: 63%;
}

.header-paragraph {
    width: 81%;
    text-align: left;
}

.header-btn {
    background-color: var(--secondary-color);
    border: none;
    color: var(--white);
    font-weight: 700;
    padding: 5px 20px;
    border-radius: 5px;
    margin-top: 10px;
}

.image-container {
    background-color: var(--gray);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-text {
    color: var(--white);
    font-size: 18px;
}

/* MAIN */
.main {
    background-color: var(--white);
}

.main-container {
    padding: 40px 0 100px 0;
    width: 40%;
    margin: 0 auto;
}

.main-heading {
    text-align: center;
    color: var(--primary-color);
    font-size: 36px;
    font-weight: 900;
    margin-bottom: 40px;
}

.main-boxes {
    display: flex;
    justify-content: center;
    gap: 5px;
}

.element {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.box {
    height: 150px;
    width: 150px;
    border: 4px solid var(--secondary-color);
    border-radius: 10px;
}

.box-text {
    width: 70%;
    text-align: center;
    font-size: 18px;
    color: var(--gray);
}

/* Quote */

.quote {
    background-color: var(--light-gray);
    padding: 100px 0 100px 0;

}

.quote-container {
    margin: 0 auto;
    width: 36%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;

}

.quote-text {
    color: var(--primary-color);
    font-size: 36px;

}

.quote-author {
    align-self: flex-end;
    font-size: 24px;
}

/* Sign up */

.sign {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(white);
}

.sign-container {
    height: 50px;
    width: 1200px;
    margin: 100px 0;
    padding: 50px 100px;
    background-color: var(--secondary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;

}
.sign-heading {
    color: var(--white);
    font-size: 24px;
    font-weight: 900;
}

.sign-paragraph {
    color: var(--light-gray);
    font-size: 18px;
}
.sign-btn {
    background-color: var(--secondary-color);
    border: 1px solid var(--white);
    color: var(--white);
    font-weight: 700;
    padding: 5px 20px;
    border-radius: 5px;
    margin-top: 10px;
}

/* FOOTER */

.footer {
    background-color: var(--primary-color);
    padding: 50px 0;
}
.footer-text {
    color: var(--light-gray);
    font-size: 18px;
    text-align: center;
}